@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container{
  background-color: #3b3b3c; 
  padding: 15px; 
  min-height: 180px; 
  display: flex!important; 
  justify-content: center!important;
  flex-direction: column; 
  align-items: center; 
}

.block-title{
  color: #c9d1d9
}

.jb-button{
  font-size: 15px;
  height: 90px; 
  width: 90px;
  flex-direction: column; 
  align-items: center; 
  background-image: url("./img/b0.png");
  background-size: contain;
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.jb-button:active{
  background-image: url("./img/b1.png")
}

.jb-button-img{
  height: 90px; 
  width: 90px;
  display: flex; 
  justify-content: center;
  align-items: center; 
  opacity: 0.7;
}

.jb-button-img:active{
  opacity: 0.85;
}
.jb-button-img img{
  height: 70px;
  max-width: 75px;
}

.label-switch{
  display: inline-block;
}
