@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans CJK TC', sans-serif !important;
  font-size: calc(0.75em + 1vmin);
  height: 100%;
  background-color: #252526;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
